<ion-content>
  <!-- Header -->
  <ion-card id="header" class="ion-no-margin">
    <ion-card-header>
      <ion-item lines="none">
        <ion-avatar slot="end">
          <img
            alt="Silhouette of a person's head"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
        </ion-avatar>
        <ion-label>
          {{user.name}}
          <p>{{user.level}}</p>
        </ion-label>
      </ion-item>
    </ion-card-header>
  </ion-card>
  <!-- End Header -->
  <ion-searchbar
    id="search"
    class="ion-no-padding"
    show-cancel-button="focus"
    placeholder="Show on Focus"
  ></ion-searchbar>
  <!-- Category -->
  <ion-card id="category" class="ion-no-margin">
    <ion-row>
      <ion-col size="3">
        <div class="cat-item">
          <img src="assets/images/food.png" alt="" />
          <p>MAKANAN</p>
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="cat-item">
          <img src="assets/images/drink.png" alt="" />
          <p>MINUMAN</p>
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="cat-item">
          <img src="assets/images/snack.png" alt="" />
          <p>SNACK</p>
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="cat-item">
          <img src="assets/images/fruit.png" alt="" />
          <p>FRUITS</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-card>
  <!-- End Category -->
<!--  &lt;!&ndash; Skeleton Animasi &ndash;&gt;-->
<!--  <ion-list *ngIf="!menus">-->
<!--    <ion-list-header>-->
<!--      <ion-label>MENU</ion-label>-->
<!--      <ion-button>See All</ion-button>-->
<!--    </ion-list-header>-->
<!--    <ion-item lines="none" *ngFor="let sk of [1,2,3,4,5]">-->
<!--      <ion-thumbnail slot="start">-->
<!--        <ion-skeleton-text [animated]="true"></ion-skeleton-text>-->
<!--      </ion-thumbnail>-->
<!--      <ion-label>-->
<!--        <p>-->
<!--          <ion-skeleton-text-->
<!--            [animated]="true"-->
<!--            style="width: 40%"-->
<!--          ></ion-skeleton-text>-->
<!--        </p>-->
<!--        <h2>-->
<!--          <ion-skeleton-text-->
<!--            [animated]="true"-->
<!--            style="width: 80%"-->
<!--          ></ion-skeleton-text>-->
<!--        </h2>-->
<!--        <p class="price">-->
<!--          <ion-skeleton-text-->
<!--            [animated]="true"-->
<!--            style="width: 60%"-->
<!--          ></ion-skeleton-text>-->
<!--        </p>-->
<!--      </ion-label>-->
<!--    </ion-item>-->
<!--  </ion-list>-->
<!--  &lt;!&ndash; End Skeleton Animasi &ndash;&gt;-->

  <!-- List Menu  -->
  <ion-list *ngIf="menus">
    <ion-list-header>
      <ion-label>MENU</ion-label>
      <ion-button>See All</ion-button>
    </ion-list-header>
    <ion-item class="card" lines="none" *ngFor="let mn of menus">
      <ion-thumbnail slot="start">
        <img src="{{ mn.foto }}" alt="makanan"/>
      </ion-thumbnail>
      <ion-label>
        <div class="card-content">
        <p class="title">{{ mn.cat_nm }}</p>
        <h2 class="title">{{ mn.mn_nm }}</h2>
        <p class="price">Rp {{ mn.mn_harga }} ,-</p>
        </div>
        
      </ion-label>
    </ion-item>
  </ion-list>
  <!-- End Menu Favorit -->
</ion-content>
