@font-face {
    font-family: Gilroy;
    src: url("../assets//font/Gilroy-ExtraBold.otf");
    font-weight: 700;
}

@font-face {
    font-family: Gilroy;
    src: url("../assets/font/Gilroy-Light.otf");
    font-weight: 600;
}